# Created by .ignore support plugin (hsz.mobi)
*
# Except for the themes directories:

!/week4/lesson1_REST/setting.json
!/week4/lesson1_REST/task2_rest.py
!/week4/lesson1_REST/task3_client.py
!/week4/lesson1_REST/task1_json.py
!/week4/lesson1_REST/w4l1_status_bad.png
!/week4/lesson1_REST/w4l1_task1.png
!/week4/lesson1_REST/w4l1_task2_1.png
!/week4/lesson1_REST/w4l1_task3_status200.png
!/week4/lesson1_REST/w4l1_task_2_2.png
