.idea/
week3/OOP in Python/homework/DmytroMelnyk/utils/__pycache__/
week4/lesson2_Request-Response_model/homework/DmytroMelnyk/__pycache__/
week5/lesson1_Flask/homework/DmytroMelnyk/TASK1/app/ourdb/__pycache__/
week5/lesson1_Flask/homework/DmytroMelnyk/TASK2/task_2/__pycache__/
week5/lesson1_Flask/homework/DmytroMelnyk/TASK1/app/apicars/__pycache__/
week5/lesson1_Flask/homework/DmytroMelnyk/TASK1/app/__pycache__/
week5/lesson1_Flask/homework/DmytroMelnyk/TASK2/task_2/ourblueprint/__pycache__/
week5/lesson1_Flask/homework/DmytroMelnyk/TASK1/app/__pycache__/
week5/lesson1_Flask/homework/DmytroMelnyk/TASK1/app/apicars/__pycache__/
week5/lesson1_Flask/homework/DmytroMelnyk/TASK1/app/__pycache__/
week5/lesson1_Flask/homework/DmytroMelnyk/TASK1/app/apicars/__pycache__/
cursor_env/
week6/lesson2_Database_ORM/homework/DmytroMelnyk/Cars_Application/__pycache__/
week6/lesson2_Database_ORM/homework/DmytroMelnyk/Cars_Application/db/__pycache__/
week5/lesson1_Flask/homework/DmytroMelnyk/TASK2/task_2/dictDB/__pycache__/
week6/lesson2_Database_ORM/homework/DmytroMelnyk/Cars_application/__pycache__/
week6/lesson2_Database_ORM/homework/DmytroMelnyk/Cars_application/api/__pycache__/
week6/lesson2_Database_ORM/homework/DmytroMelnyk/Cars_application/cars/__pycache__/
week6/lesson2_Database_ORM/homework/DmytroMelnyk/Cars_application/db/__pycache__/
week6/lesson2_Database_ORM/homework/DmytroMelnyk/Cars_application/errors/__pycache__/
week6/lesson2_Database_ORM/homework/DmytroMelnyk/Cars_application/keyspaces/__pycache__/
week6/lesson2_Database_ORM/homework/DmytroMelnyk/Cars_application/main/__pycache__/
week6/lesson2_Database_ORM/homework/DmytroMelnyk/Cars_application/users/__pycache__/


