{% extends 'base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{%  block content %}
<div class="container">
    <h2>{{ article.title }}</h2>
    <p>{{ article.id }}</p>
    <p>Title: {{ article.title }}</p>
    <p>Author: {{ article.author }}</p>
    <p>{{ article.description|safe }}</p>
    <hr>
    <a href="{% url 'index' %}">Home</a>
    {% if user.is_authenticated%}
        <a href="{% url 'update_article' article.id %}">Update</a>
        <a href="{% url 'delete_article' article.id %}">Delete</a>
    {% endif %}
</div>
{% endblock %}
