<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .center {
             margin: auto;
             border: hidden;
             border-radius: 12px;
             width: auto;
             background: #ccc;
             padding: 40px;
             padding-right: 30px;
        }
    </style>
</head>
<body>
<header>
    <a href="{{url_for('home_page')}}"><h1 style="text-align: left">Home</h1></a>
    {% for month in data %}
    <a href="{{url_for('data_from_db', id=month['id'])}}"><p>{{ month["id"]|capitalize }}</p></a>
    {% endfor %}
</header>
{% block content %} {% endblock %}
</body>
</html>