<div class="container">
    <div class="row">
        <div class="col-sm">
            <ul class="nav nav-pills">

                <li class="nav-item">
                    <a class="nav-link {{ 'active' if active_page == 'page_1' }}" href="page_1.html">page_1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if active_page == 'page_2' }}" href="page_2.html">page_2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ 'active' if active_page == 'page_3' }}" href="page_3.html">page_3</a>
                </li>
            </ul>
        </div>
    </div>
</div>