{% extends 'base.html' %}
{% load static %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <h1 class="text-center my-5">Stored Movies</h1>
    <div class="row">
        {% for movie in object_list %}
            <div class="col-sm-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.description }}</p>
                        <a href="{% url 'movie-detailed' movie.id %}" class="btn btn-primary">Detailed</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}