<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        p.italic {
            font-style: italic;
            text-align: center;
            color: green;
            }
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            }
    </style>
</head>
<body>
    <div class="text">
        <h1><p class="italic">This page isn't available. Sorry about that.</p>
        <p class="italic">Try searching for something else</p></h1>


    </div>
    <div>
        <img src="https://petapixel.com/assets/uploads/2012/09/broken4.jpg" >
    </div>
</body>
</html>