#img-all {max-height: 200px;
         max-width: 264px;
         }

.row {text-align: center;}

#img-detail {max-height: 350px;
            max-width: 570px;
            }

.info-detail {text-align: left;}

#main-page {font-family: 'Permanent Marker', cursive;
            font-size: 90px;
            text-align: center;
            padding-top: 20px;
            }

.page-width {padding-top: 20px;}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

