{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="container content" style="text-align: left;">
        <div style="display: inline-block; width: 400px;">
            <h2>Edit your profile</h2>
            <form method="post" class="bootstrap-form" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-success" value="Save">
            </form>
        </div>
    </div>
{% endblock %}
