{% extends 'layout.html' %}


{% block content %}

<p id="main-page">Goods Store</p>

<div class="page-width">
    <div class="section-header text-center">
      <h4 class="h2">General Store for Everyone</h4>
    </div>
      <div class="rte-setting">
          <p>Welcome to Goods Store, a general store for
              the whole family to enjoy! Whether you’re a local who been coming to
              Goods for years or a visitor to Pennsylvania Amish Country, our staff
              will welcome you and help you find just what you are looking for. We have
              four stores located in Pennsylvania: East Earl Goods, Quarryville Goods,
              Ephrata Goods, (all in Lancaster County) and Schaefferstown Goods in Lebanon County.
              You can also browse or purchase a selection of our merchandise here on our website.
              For high-quality clothing at great prices, shop in our Men’s Clothing, Women’s Clothing,
              or Children’s Clothing departments. If you love extra-tough Carhartt clothing, shop for
              Carhartt clothing for the whole family here. Do you enjoy sewing or quilting? Check out
              our Fabric & Sewing Department for brands like Moda Fabric and Tropical Breeze Fabric.
              For unique, hand-crafted gifts and games, see our collection of Amish & Mennonite goods.
              We also sell Footwear, Wild Birds Supplies, Kitchenware, Home Living Goods, and much, much more.
          </p></div>
</div>

{% endblock %}