{% include 'partials/header.html' %}
    <a href="/home"><< Go Back</a>

    <h1>{{todo.title}}</h1>
    <p>{{todo.text|safe}}</p>
    <!--<p>{{todo.created_by}}</p>-->
    <br>
    Created/modified on {{todo.create_at}}
    <br>
    <p>
        <div>
            <!--Delete-->
            <form action="{% url 'tododelete' todo.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="todo_id" value="{{ todi.id }}"/>
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>

            <!--Update-->
            <a href="{% url 'todoupdate' todo.id %}" class="btn btn-default btn-sm" tabindex="-1" role="button" aria-disabled="true"><span class="glyphicon glyphicon-refresh"></span></a>
        </div>
    </p>
{% include 'partials/footer.html' %}


