<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <h1>Welcome to Cars REST API Server</h1>
</head>
<body>
    <h4>GET    api/cars --------------------------------> get a full list of cars in Carbase</h4>
    <h4>GET    api/cars/car_model ----------------------> get the car_model of cars in Carbase</h4>
    <h3>For Add/Remove cars to/from carbase you need Insomnia or Postman</h3>
    <h4>POST   api/cars/ ----------------------> add the car_model of car in Carbase</h4>
    <h4>DEL    api/cars/car_model ----------------------> get the car_model of cars in Carbase</h4>
    <hr>
    <a href="api/">API Visualisation</a>
</body>
</html>