{% extends 'base.html' %}
{% block title %}
    {{ object.name }}
{% endblock %}
{% block content %}
    <h1 class="mt-1 ml-2">{{ object.name }}</h1>
    <div class="media mt-4 ml-2">
        <img class="mr-5 rounded img-fluid" width="500" height="500" src="{{ MEDIA_URL }}{{ object.avatar }}">
        <div class="media-body">
            <h2 class="border-info bg-dark text-light">Property</h2>
            <p class="ml-3">Name: {{object.name}}</p>
            <p class="ml-3">Mineral composition: {{object.min_composition}}</p>
            <p class="ml-3">Type of rock: {{object.type}}</p>
            <h2 class="border-info bg-dark text-light">Description</h2>
            <p class="ml-3">{{object.description}}</p>
            <p>{{ object.field_task3 }}</p>
        </div>
    </div>
{% endblock %}}