{% extends "layout.html" %}

{% block title %}Movie{% endblock %}
{% block body %}
    <h1 class="display-3 text-center my-5">Movie</h1>
    <div class="row">
        <div class="col-md-4 col-lg-3">
            <img src="{{ url_for('static', filename='img/movie-placeholder.gif') }}" class="img-fluid rounded"
                 alt="Responsive image">
        </div>
        <div class="col-md-8 col-lg-9">
            <h5 class="font-weight-bold mb-0">{{ movie.title }}</h5>
            <p class="small">
                <span>{{ movie.genre }}. </span>
                <span>{{ movie.year }}. </span>
            </p>
            <p>{{ movie.description }}</p>
            <div>
                <span class="font-weight-bold">Director:</span> {{ movie.director }}
            </div>
            <div>
                <span class="font-weight-bold">Writers:</span> {{ movie.writers }}
            </div>
            <div>
                <span class="font-weight-bold">Stars:</span> {{ movie.stars }}
            </div>
            <p class="mt-3">{{ movie.duration }}</p>
            <a href="{{ url_for('movieblog_views.movies_view') }}" class="btn btn-primary mt-5">Back</a>
        </div>
    </div>
{% endblock %}