{% load staticfiles %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/todolist.css' %}">
    </head>
    <title>TodoList</title>
    <body>
        <header>
            <div>
                {% if user.is_authenticated %}
                    <h1 style="text-align:center;">TodoList - {{user.username}}</h1>
                    <a class="btn btn-info" href="{% url 'logout'%}">LogOut</a>
                    <a class="btn btn-info" href="{% url 'add'%}">Add Todo</a>
                {% else %}
                    <h1 style="text-align:center;">You did not Authenticated!</h1>
                    <h3 style="text-align:center;">Please Log In at first.</h3>

                    <a  class="btn btn-info" style="text-align:center;" href="{% url 'login' %}">login</a>
                {% endif %}
            </div>
            <hr>
        </header>





