{% extends 'jinja2-templates/jinja2-layout.html' %}

{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Продукт</th>
      <th scope="col">Количество</th>
      <th scope="col">Единица</th>
      <th scope="col">Цена, грн/eд.</th>
      <th scope="col">Стоимость, грн</th>
    </tr>
  </thead>
</tbody>
  {% for row in rows %}

  {% include 'includes/jinja2-row.html' %}
  {% endfor %}
</tbody>
  <tfoot>
    <tr>
      <th colspan="4" scope="row">Итого</th>
      <th>{{ total_cost }}</th>
    </tr>
  </tfoot>
</table>

{% endblock %}

{% block title %}Main{% endblock %}
