<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div>
    <a href="{{ url_for('register.register') }}">Register</a>|
    {% if session.username %}
        <a href="{{ url_for('logout.logout') }}">Logout</a>
    {% else %}
        <a href="{{ url_for('login.login') }}">Login</a>
    {% endif %}
    {% if session.mode == "Test Config" %}
        <a href="{{ url_for('test.test') }}">Test</a>
    {% endif %}
</div>
 {% if session.username %}
                <div> Hi {{ session.username }}</div>
            {% endif %}
 <hr>
{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
{% endwith %}
    {% block content %}
    {% endblock content %}
</body>
</html>