{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="username">Username</label>
        <input name="username" required title="username">
        <label for="password">Password</label>
        <input type="password" name="password" required title="username">
        <label for="age">Age</label>
        <input type="text" name="age" required title="age">
        <label for="email">Email</label>
        <input type="email" name="email" required title="email">
        <input type="submit" value="Register">
    </form>
{% endblock %}