{% extends 'base.html' %}
{% load bootstrap static %}

{% block content %}


    {% if user.is_authenticated %}
        <form action="{% url 'create_article' %}" method="post" enctype="multipart/form-data">
            <div class="form-group mt-3">
                {% csrf_token %}
                {{ form|bootstrap_horizontal  }}
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </form>
    {% else %}
        <div class="container">
            <p class="text-info">Please log in if you wont post article</p>
            <a class="page-link" href="{% url 'login' %}">Log in</a>
        </div>
    {% endif %}


{% endblock %}