{% extends 'base.html' %}

{% block content %}
    <div class="container table-bordered mt-3 mb-4 bg-white">
        <h2 class="h2 mt-4 text-center">{{ object.title }}</h2>
        <p class="text-muted"> Author: {{ object.author }}</p>
        <p class="text-muted">Date of publication: {{ object.date_publication|date:"F j, Y" }}</p>
        <div class="dropdown-divider"></div>
        <div class="content">
            <p>{{ object.body|safe }}</p>
        </div>
        <div>
            {% if user.is_authenticated %}
                <div class="mt-3 mb-4 float-right">
                    <a class="btn btn-primary text-light btn-lg" role="button" href="{% url 'update' object.id %}">Update</a>
                    <button class="btn btn-danger text-light btn-lg" type="button" data-toggle="modal" data-target="#confirmDelete">Delete</button>
                    {% include 'blog_templates/modules/confirm_delete.html' %}
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}